{% extends 'layout.html' %}

{% block body %}
{% set inputs = [ 'tope_plan_x', 'edad_bene', 'prima', 'anio_incu', 'recorte',
'pagado_neto', 'linea_negocio_x', 'negocio_x', 'producto_principal',
'sucursal_x', 'mes_incu', 'gene_afiliado', 'tipo_atencion', 'atencion',
'tipo_cuadro', 'tx_codi_diag', 'concepto_servicio', 'tx_codi_pres',
'tx_codi_grci_n1', 'tx_codi_grci_n2', 'tx_codi_grci_n3',
'agrupacion_diagnostico', 'edad_afiliado','diagnostico', 'plan',
'anio_fin_cont', 'mes_fin_cont', 'dia_fin_cont', 'anio_ini_cont',
'mes_ini_cont', 'dia_ini_cont', 'anio_fe_incu', 'mes_fe_incu',
'dia_fe_incu', 'anio_fe_pago', 'mes_fe_pago', 'dia_fe_pago'] %}

{% for i in inputs%}
<div class = "form">
    <form action="/" method ='POST'>
        <ul>
            <li>Ingrese la información de: {{ i }}: <input type="text" name="topePlan" id="topePlan"></li>    
        </ul>
        <input type="submit" value="Send">
    </form>
</div>
{% endfor %}

{% endblock %}
